<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Hi {{ name }}!
  </h1>
  <h2 style="margin-top: 20px;">Welcome to the Azure Introduction Session</h2>
  <img width="500" src="assets/images/microsoft-azure.png">
</div>
<h2>Here are some of the options available in azure to deploy a static website</h2>
<ul>
  <li>
    <h2><a target="_blank" rel="noopener"
        href="https://docs.microsoft.com/en-us/azure/storage/common/storage-introduction">Azure Storage</a>
    </h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://docs.microsoft.com/en-us/azure/app-service/">App
        Services</a></h2>
  </li>
  <li>
    <h2>
      <a target="_blank" rel="noopener" href="https://docs.microsoft.com/en-us/azure/azure-functions/">Azure
        Functions</a>
    </h2>
  </li>
</ul>